@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

:root {
    --background-color: rgb(248, 247, 247);
    --logo-size: 2.5rem;
    --font-color: #3d535f;
    --accent-color: #7f00ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    font-size: 20px;
    width: 100vw;
    overflow-x: hidden;
}

.container {
    background-color: var(--background-color);
    overflow: hidden;
}

.heroContainer {
    /* height: 100vh; */
    overflow: hidden;
    position: relative;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    padding: 0 3rem;
}

.logo {
    font-size: var(--logo-size);
    font-weight: 800;
    color: var(--font-color);
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

b {
    font-size: calc(var(--logo-size)*2);
    color: var(--accent-color);
}

.navItems {
    display: flex;
    align-items: center;
}

.navItems li {
    list-style: none;
    margin: 0 15px;
}

.navItems li a {
    font-size: 1.5rem;
    color: var(--font-color);
    letter-spacing: 0.2rem;
    text-decoration: none;
    text-transform: capitalize;
}

.navItems li a:hover,
.links a:hover {
    color: var(--accent-color);
    font-weight: 600;
    position: relative;
    left: 5px;
    top: 5px;
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;

}

.cols {
    margin-top: 20px;
    z-index: 10;
}

.wrapper::before {
    position: absolute;
    content: '';
    width: 100vw;
    max-width: 600px;
    aspect-ratio: 1;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg, #7f00ff, pink);
    animation: object1 6s linear infinite;
}

.wrapper::after {
    position: absolute;
    content: '';
    aspect-ratio: 1;
    width: 50vw;
    max-width: 300px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg, #7f00ff, pink);
    animation: object2 6s linear infinite;
}

@keyframes object1 {
    50% {
        left: -13%;
        top: 41%;
    }
}

@keyframes object2 {
    50% {
        left: 35%;
        top: 10%;
    }
}

.imgbox {
    float: right;
    width: 30vw;
    height: 60%;
}

.imgbox img {
    position: relative;
    min-width: 250px;
    width: 100%;
    left: 5%;
    filter: saturate(150%);
    animation: animateUser 6s linear infinite;
}

@keyframes animateUser {
    50% {
        left: 35%;
        top: 10%;
    }
}

.smallImgBox {
    display: none;
}

.topline {
    display: block;
    position: relative;
    font-size: 2rem;
    letter-spacing: 5px;
    color: #3d535f;
}

.topline::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #7f00ff;
}

#typewriter {
    font-size: 2rem;
    color: #7f00ff;
    text-transform: capitalize;
    text-align: center;
    overflow: hidden;
    border-right: 3px solid black;
    white-space: nowrap;
    animation: typing 2s steps(10, end),
        blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: black
    }
}

p {
    display: block;
    font-size: 1.2rem;
    color: #3d535f;
}

.btns {
    width: 100%;
    position: relative;
    left: 10px;
}

.button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

.button:hover {
    background-color: #7f00ff;
}

a {
    all: unset;
}

.links {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    max-width: 300px;
}

.links a {
    font-size: 2rem;
    color: #3d535f;
    padding: 0px 10px;
}

.seperator {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 14vw;
    max-height: 170px;
    background: linear-gradient(45deg, #7a07e9, pink, red);
    z-index: 1;
}

.movingImages {
    height: 10vw;
    max-height: 150px;
    margin: auto;
    transform: translate(0%, 0, 0);
    animation-name: marquee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0%, 0, 0);
    }

    100% {
        transform: translate(-100%, 0, 0);
    }
}

.Bio-Container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 5rem;
    color: white;
}

.Heading-Container {
    margin: 0 auto;
    padding: 5px;
    color: rgb(54, 54, 54);
}

.Heading {
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.Bio-Inner-Container {
    display: flex;
    flex-direction: row;
}

.Bio-Left {
    width: 100%;
    margin: auto 0;
}

.Bio-Right {
    width: 95%;
    max-height: 90vh;
    margin: auto 10px;
    font-size: 1rem;
    background-color: grey;
    padding: 15px;
    border-radius: 25px;
    height: fit-content;
    overflow: hidden;
}

.Center-Content {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.section {
    font-size: 3em;
    color: black;
}

.section img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    box-shadow: 0 10px 30px rgb(0 0 0 / 15%), 0 1px 4px rgb(0 0 0 / 15%), 0 1px 0 rgb(0 0 0 / 7%);
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: black;
}

h1 {
    margin: 0 0 20px 0;
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 2em;
    }

    .section {
        font-size: 1.5em;
    }

    .section img {
        width: 100px;
        height: 100px;
    }
}

.Work-Experience {
    width: 80%;
    margin: 0 auto;
}

.Organization {
    font-size: 2rem;
    font-weight: 500;
}

.Experience-Time {
    font-size: 1.2rem;
}

.Responsibilities {
    font-size: 20px !important;
}

.Projects-Container {
    display: flex;
    padding: 0 35px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5vh 0;
    max-height: 1000px;
    background-color: var(--background-color);
}

.Project-Wrapper {
    width: 100%;
    position: relative;
}

.Project-Wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.Project-Wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.Project-Wrapper i:first-child {
    left: -22px;
}

.Project-Wrapper i:last-child {
    right: -22px;
}

.Project-Wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 450px;
    list-style: none;
    background: #3d535f;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel .card .img {
    background: #8B53FF;
    width: 90%;
    height: 160px;
    border-radius: 3%;
    margin-top: 20px;
}

.card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-info {
    width: 90%;
    height: 100%;
    margin: 20px 0;
    display: grid;
}

.project-info p {
    color: #fffa;
}

.project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
}

.project-links a {
    all: unset;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 200;
    color: #fff;
    background-color: #3d535f;
    padding: 10px 5px;
    margin: 0px 5px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

.Footer-Container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #121212;
    /* background-color: var(--background-color); */
}

.Footer-Contact {
    display: flex;
    flex-direction: row;
    color: aliceblue;
}

.Footer-Logo {
    padding: 1rem;
}

.Footer-Links {
    margin: 0.5rem 1rem;
}

.Footer-Strip {
    background-color: black;
    width: 100%;
    color: aliceblue;
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (width < 900px) {
    html {
        font-size: 90%;
    }
}

@media screen and (width < 768px) {
    .navItems {
        display: none;
    }

    .Bio-Inner-Container {
        flex-direction: column;
    }

    .Footer-Contact {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (width < 568px) {
    .wrapper::after {
        display: none;
    }

    .imgbox {
        float: none;
        animation: animateUser 6s linear infinite;
    }

    .button {
        margin: 10px;
    }

    .Bio-Container {
        padding: 0px 1rem;
    }
}

@media screen and (max-width: 900px) {
    .Project-Wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .Project-Wrapper .carousel {
        grid-auto-columns: 100%;
    }
}