@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

:root {
    --background-color: rgb(248, 247, 247);
    --logo-size: 40px;
    --font-color: #3d535f;
    --accent-color: #7f00ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    font-size: 16px;
    width: 100vw;
    overflow-x: hidden;
    @media (width<=468px) {
        font-size: 80%;
    }
}

body {
    width: 100%;
    /* margin: 0;
    padding: 0; */
    overflow-x: hidden !important;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
}

b {
    font-size: 70px;
    color: #7f00ff;
}

/* ------------------------------Navbar----------------------------------- */
.logo {
    font-size: var(--logo-size);
    font-weight: 800;
    color: var(--font-color);
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    background-color: var(--background-color);
    padding: 0 3rem;
}

.navItems,
.smallNavItems {
    display: flex;
    align-items: center;
}

.navItems li,
.smallNavItems li {
    list-style: none;
    margin: 0 15px;
}

.navItems li a,
.smallNavItems li a {
    font-size: 25px;
    color: var(--font-color);
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}

.smallNavItems {
    display: none;
}

.navItems li a:hover,
.smallNavItems li a:hover {
    color: var(--accent-color);
    font-weight: 600;
    position: relative;
    left: 5px;
    top: 5px;
}

.Toggle-Bars {
    display: none;
}

@media (width<= 768px) {

    :root {
        --logo-size: 30px;
    }

    .navItems {
        display: none;
    }

    .Toggle-Bars {
        display: block;
    }

    .smallNavItems {
        display: none;
        flex-direction: column;
        z-index: 6;
        background-color: #e9e9e9;
        position: absolute;
        top: 70px;
        right: 20px;
        width: 80vw;
        align-items: center;
        height: 12rem;
        border-radius: 20px;
    }

    .smallNavItems li {
        height: 35px;
    }

    .smallNavItems li a {
        display: block;
        height: 35px;
    }
}

/* ---------------------------------Hero Section-------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.wrapper::before {
    position: absolute;
    content: '';
    width: 100vw;
    max-width: 600px;
    aspect-ratio: 1;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg, #7f00ff, pink);
    animation: object1 6s linear infinite;
}

.wrapper::after {
    position: absolute;
    content: '';
    aspect-ratio: 1;
    width: 50vw;
    max-width: 300px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg, #7f00ff, pink);
    animation: object2 6s linear infinite;
}

@keyframes object1 {
    50% {
        left: -13%;
        top: 41%;
    }
}

@keyframes object2 {
    50% {
        left: 35%;
        top: 10%;
    }
}

.cols {
    width: 100%;
    z-index: 2;
    height: 80vh;
}

.topline {
    display: block;
    position: relative;
    font-size: 2rem;
    letter-spacing: 5px;
    color: #3d535f;
}

.topline::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #7f00ff;
}

h1 {
    display: block;
    font-size: 3rem;
    font-weight: 900;
    color: #3d535f;
}

p {
    display: block;
    width: 90%;
    font-size: 1.2rem;
    color: #3d535f;
}

.btns {
    width: 100%;
    position: relative;
    left: 10px;
}

.button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

.button:hover {
    background-color: #7f00ff;
}

.imgbox {
    float: right;
    width: 30vw;
    height: 60%;
}

.links {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    max-width: 300px;
}

.links a {
    font-size: 2rem;
}

.navItems li a:hover,
.links a:hover {
    color: #7f00ff;
    font-weight: 600;
    position: relative;
    left: 5px;
    top: 5px;
}

.links a {
    font-size: 2rem;
    color: #3d535f;
    padding: 0px 10px;

}

@media (max-width: 768px) {
    .imgbox {
        display: none;
    }

    .wrapper {
        flex-direction: column;
    }

    .button {
        margin: 5px 0px;
    }
}

.imgbox img {
    position: relative;
    height: 100%;
    width: calc(130%-80px);
    left: 5%;
    filter: saturate(150%);
    animation: animateUser 6s linear infinite;
}

@keyframes animateUser {
    50% {
        left: 35%;
        top: 10%;
    }
}

.ocean {
    height: 7vw;
    width: 100%;
    position: absolute;
    bottom: -6.04rem;
    left: 0;
    background: #543c9c;
}

.wave {
    background: url(https://cdn.kcak11.com/codepen_assets/wave_animation/wave.svg) repeat-x;
    position: absolute;
    filter: hue-rotate(67deg);
    top: -20vh;
    width: 6400px;
    height: 20vh;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }

    50% {
        transform: translate3d(0, 5px, 0);
    }
}

.endWave {
    display: none;
}

@keyframes rightToLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media(width<=470px) {
    .ocean {
        display: none;
    }
}

.seperator {
    width: 100%;
    position: relative;
    height: 14vw;
    background: linear-gradient(45deg, #7a07e9, pink, red);
    z-index: 1;
}

.movingImages {
    flex: 0 0 auto;
    height: 10vw;
    margin: 2vw 2.5vw;
    position: relative;
    /* animation: rightToLeft 8s linear infinite; */
}

.Bio-Container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 5rem;
    background-color: var(--background-color);
    color: white;
}

.Bio-Inner-Container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 767px) {
    .Bio-Inner-Container {
        flex-direction: column;
    }

    .Bio-Container {
        padding: 0 2rem;
    }
}

.Bio-Left {
    width: 100%;
    margin: auto 0;
}

.Bio-Right {
    width: 95%;
    max-height: 90vh;
    margin: auto 10px;
    font-size: 1rem;
    background-color: grey;
    /* background-color: var(--background-color); */
    padding: 15px;
    border-radius: 25px;
    height: fit-content;
    overflow: hidden;
}

.Center-Content {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

/* -----------------------------------About Section--------------------------------------------------------------- */
.About-Container {
    display: flex;
    height: 100vh;
}
/* ------------------------------------------------------------------------------------- */

.Project-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 20px;
    height: 450px;
    padding: 5px;
}

.ProjectImage img {
    width: fit-content;
    margin: 7px;
    width: 100px;
}

.Project-Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    align-content: flex-end;
}

.Project-Title {
    color: #dad8d8;
    font-size: 25px;
    font-weight: 600;
}

.ButtonLive {
    background-color: rgb(14, 122, 211);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 10px;
    color: white;
    font-weight: 500;
}

Button {
    all: unset;
}

.ButtonCode {
    background-color: rgb(227, 229, 230);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 10px;
    color: black;
    font-weight: 500;
}

.About-Container,
.Projects-Container {
    display: flex;
    flex-direction: column;
    padding: 0 35px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 100vh;
    /* background-color: #212327; */
    background-color: var(--background-color);
}

.About-Heading-Conatiner,
.Projects-Heading-Container {
    margin: 0 auto;
    padding: 5px;
    color: rgb(218, 216, 216);
}

.About-Heading,
.Projects-Heading {
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.Project-Box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* ---------------------------------------------------- */

.Project-Wrapper,
.About-Wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.About-Wrapper i,
.Project-Wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.About-Wrapper i:active,
.Project-Wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.About-Wrapper i:first-child,
.Project-Wrapper i:first-child {
    left: -22px;
}

.About-Wrapper i:last-child,
.Project-Wrapper i:last-child {
    right: -22px;
}

.About-Wrapper .carousel,
.Project-Wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.About-Container .About-Wrapper .carousel {
    grid-auto-columns: calc((100%) - 12px);
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #3d535f;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.About-Container .carousel .card {
    height: 500px;
}

.carousel .card .img {
    background: #8B53FF;
    width: 90%;
    height: 40%;
    border-radius: 3%
}

.card .img img {
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
    object-fit: cover;
    /* border: 4px solid #fff; */
}

.About-Card-Holder {
    width: 100%;
    height: 100%;
    padding: 10px 5vw;
}

.About-Card-Holder h2{
    text-align: center;
    font-size: 2.5rem !important;
    font-weight: 600 !important;
}

.Organization{

}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color:#f7f7f7;
    font-size: 1.31rem;
}

.project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-links a {
    all: unset;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 200;
    color: #fff;
    background-color: #3d535f;
    padding: 5px 5px;
    margin: 0px 5px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

.project-info {
    width: 90%;
}

.project-info p {
    color: #fffa;
}

.About-Card-Holder ul{
    color: #ababab;
}

.Designation{
    display: inline;
}

.Experience{
    display: inline;
    margin-left: 10px;
}

.Responsibilites{
    margin-top: 5vh;
}

.Course, .Duration{
    color: #ababab;
}

@media screen and (max-width: 900px) {
    .Project-Wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .Project-Wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

/* -----------------------------Footer Section----------------------------------- */

.Footer-Container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #121212;
    /* background-color: var(--background-color); */
}

.Footer-Contact {
    display: flex;
    flex-direction: row;
    color: aliceblue;
}

.Footer-Logo {
    padding: 1rem;
}

.Footer-Links {
    margin: 0.5rem 1rem;
}

.Footer-Strip {
    background-color: black;
    /* background-color: var(--background-color); */
    width: 100%;
    color: aliceblue;
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .Footer-Contact {
        flex-direction: column;
        align-items: center;
    }
}

#typewriter {
    font-size: 2rem;
    color: #7f00ff;
    text-transform: capitalize;
    text-align: center;
    overflow: hidden;
    border-right: 3px solid black;
    white-space: nowrap;
    animation: typing 2s steps(10, end),
        blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: black
    }
}

.pagination {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
}

.pagination button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button:hover {
    background-color: #0062cc;
}